@model IEnumerable<E_commerce_app.Models.Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
<div class="container">
    <div class="row">
        @await Component.InvokeAsync("CategoryList")

        @foreach (var item in Model)
        {
            <div class="col-md-3 mt-3">
                <div class="card">
                    <div class="card-header font-weight-bold text-secondary ">
                        @item.Title
                    </div>
                    <img src="@item.Image" class="card-img-top " alt="product image" style="height:200px;">
                    <div class="card-body">
                        <p class="card-text" >@item.Title</p>
                    </div>
                    <div class="card-footer">
                        <label  style="font-size:20px; color: #0096FF; "><b>@item.Price.ToString("0.00") ₺</b> </label>
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-outline-primary" style="float:right;">Details</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
</div>